<h3>Chat global Coder</h3>

<form id="form">
  <input type="text" id="msg" />
  <input type="submit" value="Enviar" hidden />
</form>

<div id="messages-box">
  <p>Cargando mensajes...</p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/main.js"></script>
