<div>
  <h3>Esta pagina es para darle informacion acerca de las mascotas del sitio</h3>
  <p>petshop-app petshop-app petshop-app petshop-app petshop-app petshop-app petshop-app petshop-app petshop-app petshop-app petshop-app petshop-app petshop-app </p>
</div>
